html, body {
  padding: 0;
  margin: 0;
}

body {
  background-color: #DDD;
}

img {
  max-width: 100%;
}

.buttons button {
  background-color: #046380;
  color: #FFF;
  border: none;
  padding: 10px 15px;
  font-size: 15px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  box-shadow: 2px 2px 0 #034154;
  margin-right: 5px;
  transition: opacity .4s ease-out, transform .4s ease-out, visibility .4s ease-out;
  position: relative;
  top: -10px;
}

.buttons button:hover {
  background-color: #034F66;
}

.buttons button:active {
  background-color: #034154;
  box-shadow: none;
  position: relative;
  top: -8px;
  left: 2px;
}

body {
  font-family: Helvetica, sans-serif;
  padding: 30px 0;
}

h1 {
  margin-top: 0;
  font-size: 2.4em;
  font-weight: normal;
}

p {
  font-size: 1.2rem;
  line-height: 1.6;
}

.page-wrap {
  max-width: 1024px;
  padding: 0 16px;
  margin: 0 auto;
}

.buttons {
  position: relative;
  z-index: 10;
}

.pet {
  background-color: #FFF;
  padding: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}

.pet h2 {
  font-weight: normal;
  margin: 0;
  font-size: 2.5rem;
}

.pet h2 .species {
  font-size: 1.45rem;
  color: #999;
}

.headline-bar {
  margin: 0;
  background-color: #CCC;
  padding: 8px 15px;
}

.favorite-foods {
  background-color: #EFEFEF;
  padding: 0;
  margin: 0;
}

.favorite-foods li {
  list-style: none;
  border-bottom: 1px dotted #999;
  padding: 8px 15px;
  font-size: .85rem;
}

.photo-column {
  width: 35%;
  float: left;
}

.info-column {
  width: 65%;
  box-sizing: border-box;
  padding-left: 20px;
  float: left;
}

@media (max-width: 760px) {
  .photo-column,
  .info-column {
    width: auto;
    float: none;
    padding: 0;
  }
}